.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

2_ObjRecog/data/*
2_ObjRecog/data/coco/*
2_ObjRecog/data/coco/2017/*
2_ObjRecog/data/coco/2017/1.1.0/*

2_ObjRecog/data/*
2_ObjRecog/data/secoora/*
2_ObjRecog/data/secoora/train/*
2_ObjRecog/data/secoora/test/*
2_ObjRecog/data/secoora/validation/*

2_ObjRecog/retinanet/*

3_ImageSeg/data/*
3_ImageSeg/data/oysternet/*
